
.endereco--div{
    padding: 10% 2%;
}
.cadastrar-item--box {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 500px;
}
.selecionar--armario{
    padding: 1% 1% 1% 1%;
}
.input--container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 110vh;
}
.desapegar--button{
  border: none;
  background-color: #775ada;
  color: white;
  border-radius: 25px;
  height: 40px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 50px;
}
.desapegar--button:hover{
cursor: pointer;
background-color:#3E239D;
}